@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
  font-family: 'Lato', sans-serif;
}

/* Reset End */

/*
  Custom Variables
*/
:root {
  --clr-accent-1: 241, 100, 44;

  --clr-primary-1: 14, 50, 65;
  --clr-primary-2: 26, 28, 48;
  --clr-primary-3: 31, 28, 41;
 
  --clr-white: 224, 234, 234;

  --fs-body: 15px;

  --fw-light: 400;
  --fw-heavy: 700;

  --ff-sans: 'Lato', sans-serif;
  --ff-serif: 'Playfair Display', serif;
}